<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Farmer Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/auth.css') }}">

</head>

<body>

<div class="auth-container">

    <div class="card">

        <div class="logo">
            🌾
        </div>

        <h1>AI Crop Advisor</h1>

        <h2>Farmer Login</h2>

        <form method="POST">

            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required>

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required>

            <button type="submit">
                Login
            </button>

        </form>

        <p>
            Don't have an account?
            <a href="/register">
                Register
            </a>
        </p>

    </div>

</div>

</body>
</html>